@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ;
}
body {
    background: #081b29;
    color: #ededed;
}

.header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;

}

.portfolio {
    padding: 140px 100px;
}

.title {
    text-align: center;
    font-size: 42px;
    color: #00abf0;
    margin-bottom: 40px;
}

.portfolio-gallery {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.item {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 12px;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
}

.item:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background: rgba(0, 171, 240, 0.7);
    text-align: center;
    font-size: 18px;
    opacity: 0;
    transition: .3s;
}

.item:hover .overlay {
    opacity: 1;
}
